* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  max-width: 600px;
  
  
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}  

div.grid {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
}

div.grid-item {
  width: 40px;
  height: 40px;
  border: 1px dashed black;
}

div.grid-item.player {
  content:  url('../assets/frogsprite.png');
}

div.grid-item.player2 {
  content:  url('../assets/frogsprite.png')
}

div.grid-item.grass {
  background-image: url('../assets/Grass\ Texture\ 3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.water {
  background-image: url('../assets/water.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.roadTop {
  background-image: url('../assets/smallRoad.png');
  background-size: contain;
}

div.grid-item.roadSecondRow {
  background-image: url('../assets/roadSecondRow.png');
  background-size: contain;
}

div.grid-item.roadThirdRow {
  background-image: url('../assets/roadThirdRow.png');
  background-size: contain;
}

div.grid-item.roadBottom {
  background-image: url('../assets/smallRoadBottom.png');
  background-size: contain;

}

div.grid-item.car {
  background-image: url('../assets/car.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.car2 {
  background-image: url('../assets/car2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crockA {
  background-image: url('../assets/crockA.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}

div.grid-item.crockB {
  background-image: url('../assets/crockB.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}

div.grid-item.crock2A {
  background-image: url('../assets/crockA.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crock2B {
  background-image: url('../assets/crockB.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crock3A {
  background-image: url('../assets/crockA.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}

div.grid-item.crock3B {
  background-image: url('../assets/crockB.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}

div.grid-item.crock4A {
  background-image: url('../assets/crockA.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crock4B {
  background-image: url('../assets/crockB.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.sharkA {
  background-image: url('../assets/SharkA.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.sharkB {
  background-image: url('../assets/SharkB.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.sharkC {
  background-image: url('../assets/SharkC.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark2A {
  background-image: url('../assets/SharkA.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transform: scaleX(-1);
}

div.grid-item.shark2B {
  background-image: url('../assets/SharkB.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transform: scaleX(-1);
}

div.grid-item.shark2C {
  background-image: url('../assets/SharkC.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transform: scaleX(-1);
}

div.grid-item.shark3A {
  background-image: url('../assets/SharkA.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark3B {
  background-image: url('../assets/SharkB.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark3C {
  background-image: url('../assets/SharkC.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}  

div.grid-item.shark4A {
  background-image: url('../assets/SharkA.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transform: scaleX(-1);
}

div.grid-item.shark4B {
  background-image: url('../assets/SharkB.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transform: scaleX(-1);
}

div.grid-item.shark4C {
  background-image: url('../assets/SharkC.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transform: scaleX(-1);
}


div.grid-item.lilypad {
  background-image: url('../assets/lilypad.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}


div.panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

button.reset {
  display: flex;
  justify-content: flex-end;
}


h2 {
  display: flex;
  background-color: aqua;
  flex-direction: column;
  margin-left: 40px;
}

.livebox {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.life {
  background-image: url('../assets/frogsprite1.png');
  background-repeat: no-repeat;
  width:120px; 
  height:120px;
}


.deadFrog {
  background-image: url('../assets/deadfrogger.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}