* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}



main {
  max-width: 600px;  
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  display: none;
}  

.container2 {
  height: 600px;
  width: 700px;
  display: flex;
  margin: 10px 300px;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  background-image: url('../assets/Frogbackground.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 320px;
  height: 280px;
  margin-left: 198px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  height: 150px;
  width: 325px;
  background-color: white;
  border-radius: 4px;
  font-size: 20px;

}



button.newStart {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 60px;
  margin: 0px 70px 0px 125px;
  border-radius: 4px;
  
}

div.grid {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 40px;
  height: 40px;
}

div.grid-item.player {
  content:  url('../assets/frogsprite.png');
}

div.grid-item.player2 {
  content:  url('../assets/frogsprite.png')
}

div.grid-item.grass {
  background-image: url('../assets/Grass\ Texture\ 3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.water {
  background-image: url('../assets/water.png');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.roadTop {
  background-image: url('../assets/smallRoad.png');
  background-size: contain;
}

div.grid-item.roadSecondRow {
  background-image: url('../assets/roadSecondRow.png');
  background-size: contain;
}

div.grid-item.roadThirdRow {
  background-image: url('../assets/roadThirdRow.png');
  background-size: contain;
}

div.grid-item.roadBottom {
  background-image: url('../assets/smallRoadBottom.png');
  background-size: contain;

}

div.grid-item.tarmac {
  background-image: url('../assets/ground_asphalt_synth_03.png');
  background-size: contain;
}

div.grid-item.car {
  background-image: url('../assets/carTopRow.jpg');
}

div.grid-item.car2 {
  background-image: url('../assets/carSecondRoad.jpg');
}

div.grid-item.car3 {
  background-image: url('../assets/carThirdRow.jpg');
}

div.grid-item.car4 {
  background-image: url('../assets/carRoadBottom.jpg');

}

div.grid-item.crockA {
  background-image: url('../assets/CrockA.jpg');
  background-repeat: no-repeat;
  background-size: contain;

}

div.grid-item.crockB {
  background-image: url('../assets/CrockB.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crock2A {
  background-image: url('../assets/CrockARotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crock2B {
  background-image: url('../assets/CrockBRotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crock3A {
  background-image: url('../assets/CrockA.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  
}

div.grid-item.crock3B {
  background-image: url('../assets/CrockB.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  
}

div.grid-item.crock4A {
  background-image: url('../assets/CrockARotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.crock4B {
  background-image: url('../assets/CrockBRotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.sharkA {
  background-image: url('../assets/SharkA.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.grid-item.sharkB {
  background-image: url('../assets/SharkB.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.sharkC {
  background-image: url('../assets/SharkC.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark2A {
  background-image: url('../assets/SharkARotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.grid-item.shark2B {
  background-image: url('../assets/SharkBRotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark2C {
  background-image: url('../assets/SharkCRotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark3A {
  background-image: url('../assets/SharkA.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.grid-item.shark3B {
  background-image: url('../assets/SharkB.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark3C {
  background-image: url('../assets/SharkC.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom
}  

div.grid-item.shark4A {
  background-image: url('../assets/SharkARotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}

div.grid-item.shark4B {
  background-image: url('../assets/SharkBRotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div.grid-item.shark4C {
  background-image: url('../assets/SharkCRotate.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}


div.grid-item.lilypad {
  background-image: url('../assets/sickFrog.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  
}


div.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

button {
  text-align: center;
  height: 30px;
  width: 70px;
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  border: 0;
  padding: 0;
  margin-top: 10px;

}

h2 {
  text-align: center;
  margin-left: 40px;
  height: 50px;
  width: 50px;
  font-family: 'Montserrat', sans-serif;
}


.livebox {
  height: 140px;
  width: 75px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.safebox {
  height: 175px;
  width: 80px;
  margin-right: 80px;
  display: flex;
  margin-left: 80px;
  flex-direction: column;
  align-items: center;
}

.life {
  background-image: url('../assets/frogsprite1.png');
  background-repeat: no-repeat;
  width:42px; 
  height:120px;
  padding: 10px;
  display: flex;

}

.safe {
  background-image: url('../assets/frogsprite1.png');
  background-repeat: no-repeat;
  width: 42px; 
  height:120px;
  padding: 10px;
  display: flex;

}

.timer {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  background-color: white;


}

.deadFrog {
  content: url('../assets/deadFrog.png');
}

p {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 0px
}